.header{
    --background: #e62e5e;
    color: white;
  }


  .marginlist{
    margin: 20px;
    margin-bottom: 0px;
  }
  ion-item{
    border-color: var(--ion-color-primary);
    --border: #e62e5e;
  }
  .marginlistbtn{
    margin-left: 20px;
    margin-right: 20px;
  }
  .btn{
    --background: #e62e5e;
    text-transform: none;
  }
  .span1{
    margin-left: 15px;
    margin-right: 15px;
  }
  .divider {
    display: flex;
    
    &:before,
    &:after {
      content: "";
      flex: 1;
    }
  }
  .line {
    align-items: center;
    color: #cccccc;
    
    &:before,
    &:after {
      height: 1px;
      margin: 0 1em;
    }
  } 
  .one-line {
    &:before,
    &:after {
       background: #cccccc;
    }
  }
  .already {
    display: block;
    text-align: center;
    margin-top: 50px;
  }

      .bold{
        font-weight: 600;
        color: #e62e5e;
        cursor: pointer;
    }